<section class="section-table">
    <table width="100%" [cellPadding]="0" [cellSpacing]="0">
        <thead>
            <th colspan="100%">Cadastros</th>
        </thead>
        <tr>
            <td class="header">Nome</td>
            <td class="header">Email</td>
            <td class="header">Permissões</td>
        </tr>
        <tr *ngFor="let user of users"> 
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td class="imgs">
                <button (click)="editItem(user)">
                    <img src="../../../../../assets/icones/editar.png" alt="" width="20px">
                </button>
                <button (click)="delete(user)">
                    <img src="../../../../../assets/icones/excluir.png" alt="" width="20px">
                </button>
            </td>
        </tr>
    </table>
</section>