<section>
    <table width="100%" [cellPadding]="0" [cellSpacing]="0">
        <thead>
            <th colspan="100%">Cadastros</th>
        </thead>
        <tr>
            <td class="header">Nome</td>
        </tr>
        <tr *ngFor="let country of countrys"> 
            <td>{{country.name}}</td>
            <td class="imgs">
                <button (click)="editItem(country)">
                    <img src="../../../../../assets/icones/editar.png" alt="" width="20px">
                </button>
                <button (click)="delete(country)">
                    <img src="../../../../../assets/icones/excluir.png" alt="" width="20px">
                </button>
            </td>
        </tr>
    </table>
</section>