<app-filter></app-filter>
<section class="section-table">
    <table width="100%" [cellPadding]="0" [cellSpacing]="0">
        <thead>
            <th colspan="100%">Cadastros</th>
        </thead>
        <tr>
            <td class="header">Nome</td>
            <td class="header">Tamanho</td>
            <td class="header">País</td>
        </tr>
        <tr *ngFor="let speedWay of speedways"> 
            <td>{{speedWay.name}}</td>
            <td>{{speedWay.size}}</td>
            <td>{{speedWay.country.name}}</td>
            <td class="imgs">
                <button (click)="editItem(speedWay)">
                    <img src="../../../../../assets/icones/editar.png" alt="" width="20px">
                </button>
                <button (click)="delete(speedWay)">
                    <img src="../../../../../assets/icones/excluir.png" alt="" width="20px">
                </button>
            </td>
        </tr>
    </table>
</section>